@model StockTrade
@{
	ViewBag.Title = "Home";
}

	<div class="box trading-panel">
		<div class="flex trading-panel-flex">
			<div id="stock-price-panel">
				<div class="stock">
					<div class="stock-title">@Model.StockName (@Model.StockSymbol)</div>
					<div class="stock-price">
						<b id="StockCurrency" class="text-grey">$</b>
						<b id="StockPrice">@Model.Price.ToString("0.00", CultureInfo.InvariantCulture)</b>
					</div>
				</div>
			</div>

			<div id="new-order-panel">
				<form method="post">
					<div class="flex flex-direction-vertical">

						<h3 class="text-grey mb">New Order</h3>
						
						<div>
							<label asp-for="Quantity" class="form-label pt">Quantity:</label>
						</div>
						<div class="w-25">
							<input type="number" class="form-input mb" asp-for="Quantity" value="100" />
							<span asp-validation-for="Quantity" class="text-red"></span>
						</div>
					</div>

					<div class="flex-1 button-panel">
						<button class="button button-red-back" asp-controller="Trade" asp-action ="SellOrder">Sell</button>
						<button class="button button-green-back" asp-controller="Trade" asp-action="BuyOrder">Buy</button>
					</div>

					<input type="hidden" asp-for="StockSymbol">
					<input type="hidden" asp-for="StockName">
					<input type="hidden" asp-for="Price" />
					<input type="hidden" id="FinnhubTokenId" value="@ViewBag.FinnhubToken">
				</form>
			</div>
		</div>
	</div>

@section scripts
	{
	<script src="~/Scripts/FinnhubScript.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator"
		asp-fallback-src="~/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobtrusive"
		asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
}