@model Orders

@{
	ViewBag.Title = "Orders";
}

<div class="flex">
	<div class="flex-1 text-right">
		<a asp-controller="Trade" asp-action="TradeOrdersPdf" class="ml">Download as PDF</a>
	</div>
</div>

<div class="flex orders-list">
	<div id="buy-orders-list">
		<div class="box">
			<h3 class="text-grey">Buy Orders</h3>

			@foreach (var order in Model.BuyOrders)
			{
				await Html.RenderPartialAsync("_OrderPartialView", order);
			}
		</div>
	</div>

	<div id="sell-orders-list">
		<div class="box">
			<h3 class="text-grey">Sell Orders</h3>

			@foreach (var order in Model.SellOrders)
			{
				await Html.RenderPartialAsync("_OrderPartialView", order);
			}
		</div>
	</div>
</div>