<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/Styles/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="page-content">

            <div class="margin-bottom">
                <div id="top-bar-div">
                    <div id="app-title-div">
                        <h1 class="app-title">
                            <i class="fa-solid fa-money-bill-trend-up"></i>
                            Stocks
                        </h1>
                    </div>

                    <div class="navbar">
                            <ul>
                                <li>
                                    <a asp-controller="Stocks" asp-action="Explore" class="link-hover">Explore</a>
                                </li>
                                <li>
                                    <a asp-controller="Trade" asp-action="Index" class="link-hover">Trade</a>
                                </li>
                                <li>
                                    <a asp-controller="Trade" asp-action="Orders" class="link-hover">Orders</a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>

            @RenderBody()
            @RenderSection("scripts", required: false)
        </div>
    </div>
</body>
</html>

